<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Benkan.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
				<key>dateExpires</key>
				<string>27/10/2022</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TOCropViewController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_cropper.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>10</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DADCAB52C7BA04312781830034C87A2F2F60959A</string>
						<key>dateExpires</key>
						<string>27/10/2022</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>T9PTGQX59M</string>
						<key>name</key>
						<string>Aboubacar  Sidibe</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>T9PTGQX59M.com.benkan</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>T9PTGQX59M</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>10a3cad7-d7cd-49f1-9d33-0473e99f22f4</string>
				<key>dateExpires</key>
				<string>27/10/2022</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.benkan</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>T9PTGQX59M</string>
				<key>name</key>
				<string>Aboubacar  Sidibe</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.2</string>
		</dict>
	</array>
</dict>
</plist>
